.accessibility-toolbar {
    position: fixed;
    left: 5%; /* Creates a gap from the left */
    right: 5%; /* Creates a gap from the right */
    bottom: 20px; /* Positions the toolbar above the bottom of the screen */
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* A light border around the toolbar */
    padding: 5px; /* Reduced padding for a shorter toolbar */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Stronger shadow for depth */
    border-radius: 10px; /* Rounded corners */
    display: flex;
    justify-content: center; /* Center the button horizontally */
    align-items: center; /* Align items vertically */
    height: 40px; /* Set a fixed height for a more compact look */
  }
  
  .accessibility-toolbar button {
    padding: 2px 10px; /* Further reduced padding to decrease height */
    font-size: 14px; /* Suitable font size for readability */
    cursor: pointer; /* Cursor pointer to indicate it's clickable */
    border-radius: 5px; /* Slightly rounded corners for the button */
    background-color: #e4e4e4; /* Light gray background for contrast */
    border: none; /* No border for a cleaner look */
    line-height: normal; /* Ensures the button doesn't extend too tall */
    height: 30px;
  }
  
  .magnifier-lens {
    position: absolute;
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border: 2px solid black;
    border-radius: 50%;
    cursor: none;
    pointer-events: none;
    overflow: hidden;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    background-size: 200%; /* Adjust the zoom level */
    transition: background-position 0.1s; /* Smooth transition for the background position */
}
/* AccessibilityToolbar.css or another appropriate CSS file */
img {
    transition: transform 0.3s ease; /* Adjust time and easing function to your preference */
}
.accessibility-toolbar {
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accessibility-toolbar {
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accessibility-toolbar button {
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

/* Ensure label font size remains constant */
.accessibility-toolbar label {
    font-size: 16px; /* Fixed size, does not scale with root font-size changes */
    margin-right: 5px;
}

.horizontal-line, .vertical-line {
    position: fixed;
    background-color: red; 
    z-index: 9999;
    pointer-events: none;
}

.horizontal-line {
    left: 0;
    right: 0;
    height: 2px;
}

.vertical-line {
    top: 0;
    bottom: 0;
    width: 2px;
}
