.lesson-container {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    padding-bottom: 60px; /* Increase padding at the bottom */
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: auto; /* Allows for internal scrolling if needed */
}


/* Styling paragraphs for better readability specific to lesson containers */
.lesson-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

/* Control the size and display of images within lesson containers */
.lesson-container img {
    width: 100%; /* Full width of the container */
    max-width: 600px; /* Limits image width on larger screens */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures no extra space below the image */
    margin: 10px auto; /* Centers image and provides spacing around */
}

/* Headings styled to stand out within lesson containers */
.lesson-container h1, .lesson-container h2 {
    color: #2a2a2a;
    margin-bottom: 20px;
}

/* Specific styles for the div that wraps the .lesson-container, if needed */
div.lesson-wrapper {
    padding: 10px; /* Padding around the container for better spacing */
}


.body-lesson {
    display: block;
    height: auto;
  }